<!DOCTYPE html>
<script>
function clickLink(selectedLink) {
	document.querySelector(selectedLink).scrollIntoView({
		behavior: 'smooth', 
		block: 'start'}
	);
}
</script>
<html>
  <head>
    <!--Prevent section IDs from getting stuck in the URL-->
    <script>
        window.history.replaceState({}, document.title, window.location.pathname);
    </script>
  	<!-- Global site tag (gtag.js) - Google Analytics -->
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css?family=Arial:400,400i,500,500i,700" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,400;0,500;0,600;1,400&family=Work+Sans:wght@400;500;600&display=swap" rel="stylesheet">
    <title>Gustaf Ahdritz | Harvard CS</title>
	<meta name="description" content="Gustaf Ahdritz's homepage">
	<link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
  </head>
    <a id="home"></a>
	<body>
            <main class="page-content">
                {{ content }}
	    </main>
	</body>
</html>
